src/conf/xml-resources/web-service-references/mvWebService/wsdl/localhost_8080/MovieWebService/mvWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serverpack/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serverpack/" name="mvWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://serverpack/" schemaLocation="http://localhost:8080/MovieWebService/mvWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="serchbyID">
<part name="parameters" element="tns:serchbyID"/>
</message>
<message name="serchbyIDResponse">
<part name="parameters" element="tns:serchbyIDResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="DeleteMovie">
<part name="parameters" element="tns:DeleteMovie"/>
</message>
<message name="DeleteMovieResponse">
<part name="parameters" element="tns:DeleteMovieResponse"/>
</message>
<message name="addMovie">
<part name="parameters" element="tns:addMovie"/>
</message>
<message name="addMovieResponse">
<part name="parameters" element="tns:addMovieResponse"/>
</message>
<message name="Edit">
<part name="parameters" element="tns:Edit"/>
</message>
<message name="EditResponse">
<part name="parameters" element="tns:EditResponse"/>
</message>
<message name="Save">
<part name="parameters" element="tns:Save"/>
</message>
<message name="SaveResponse">
<part name="parameters" element="tns:SaveResponse"/>
</message>
<message name="searchQue1">
<part name="parameters" element="tns:searchQue1"/>
</message>
<message name="searchQue1Response">
<part name="parameters" element="tns:searchQue1Response"/>
</message>
<message name="searchQue2">
<part name="parameters" element="tns:searchQue2"/>
</message>
<message name="searchQue2Response">
<part name="parameters" element="tns:searchQue2Response"/>
</message>
<portType name="mvWebService">
<operation name="serchbyID">
<input wsam:Action="http://serverpack/mvWebService/serchbyIDRequest" message="tns:serchbyID"/>
<output wsam:Action="http://serverpack/mvWebService/serchbyIDResponse" message="tns:serchbyIDResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://serverpack/mvWebService/serchbyID/Fault/Exception"/>
</operation>
<operation name="DeleteMovie">
<input wsam:Action="http://serverpack/mvWebService/DeleteMovieRequest" message="tns:DeleteMovie"/>
<output wsam:Action="http://serverpack/mvWebService/DeleteMovieResponse" message="tns:DeleteMovieResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://serverpack/mvWebService/DeleteMovie/Fault/Exception"/>
</operation>
<operation name="addMovie">
<input wsam:Action="http://serverpack/mvWebService/addMovieRequest" message="tns:addMovie"/>
<output wsam:Action="http://serverpack/mvWebService/addMovieResponse" message="tns:addMovieResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://serverpack/mvWebService/addMovie/Fault/Exception"/>
</operation>
<operation name="Edit">
<input wsam:Action="http://serverpack/mvWebService/EditRequest" message="tns:Edit"/>
<output wsam:Action="http://serverpack/mvWebService/EditResponse" message="tns:EditResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://serverpack/mvWebService/Edit/Fault/Exception"/>
</operation>
<operation name="Save">
<input wsam:Action="http://serverpack/mvWebService/SaveRequest" message="tns:Save"/>
<output wsam:Action="http://serverpack/mvWebService/SaveResponse" message="tns:SaveResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://serverpack/mvWebService/Save/Fault/Exception"/>
</operation>
<operation name="searchQue1">
<input wsam:Action="http://serverpack/mvWebService/searchQue1Request" message="tns:searchQue1"/>
<output wsam:Action="http://serverpack/mvWebService/searchQue1Response" message="tns:searchQue1Response"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://serverpack/mvWebService/searchQue1/Fault/Exception"/>
</operation>
<operation name="searchQue2">
<input wsam:Action="http://serverpack/mvWebService/searchQue2Request" message="tns:searchQue2"/>
<output wsam:Action="http://serverpack/mvWebService/searchQue2Response" message="tns:searchQue2Response"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://serverpack/mvWebService/searchQue2/Fault/Exception"/>
</operation>
</portType>
<binding name="mvWebServicePortBinding" type="tns:mvWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="serchbyID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="DeleteMovie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="addMovie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="Edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="Save">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="searchQue1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="searchQue2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="mvWebService">
<port name="mvWebServicePort" binding="tns:mvWebServicePortBinding">
<soap:address location="http://localhost:8080/MovieWebService/mvWebService"/>
</port>
</service>
</definitions>